In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
salarios = pd.read_csv('datos/salarios.csv')
salarios

,Gender,Age,Department,Department_code,Years_exp,Tenure (months),Gross
0,0,25,Tech,7,7.5,7,74922
1,1,26,Operations,3,8.0,6,44375
2,0,24,Operations,3,7.0,8,82263
3,0,26,Operations,3,8.0,6,44375
4,0,29,Engineering,0,9.5,25,235405
...,...,...,...,...,...,...,...
1797,0,29,Other,4,9.5,34,88934
1798,0,27,Engineering,0,8.5,33,133224
1799,0,29,Operations,3,9.5,15,72547
1800,0,47,Other,4,18.5,30,227176
1801,0,27,Finance,1,8.5,29,114641

In [9]:
salarios.shape

(1802, 7)

In [10]:
salarios.columns

Index(['Gender', 'Age', 'Department', 'Department_code', 'Years_exp',
       'Tenure (months)', 'Gross'],
      dtype='object')

### Linear Regresion